
File name:	Content\admin\css\styleAdmin.css	
*{
    margin: 0;
    padding: 0;
    color: black;
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    height: 100px;
    width: 100vm;
    border-bottom: 2px solid #dddd;
    text-align: center;
}

.admin-content{
    display: flex;
}

.admin-content-left{
    background-color: #dddddd;
    width: 20%;
    height: auto;
    padding: 30px 0 0 12px;
}

.admin-content-left> ul> li> a{
    font-weight: bold;
}

.admin-content-left ul li{
    margin: 6px 0;
}

.admin-content-left ul ul{
    margin-left: 20px;
}

.admin-content-right{
    width: 79%;
    padding: 30px 12px 0 12px;
}

.admin-content-right-category_add input{
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 12px;
}

.admin-content-right-category_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background: brown;
    border: none;
    color: #fff;
}

.admin-content-right-category_add button:hover{
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
}

.admin-content-right > input{
    display: inline-block;
    background: none;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 14;
    width: auto;
    padding: 5px 10px 5px 10px;
    color: #000;
    cursor: pointer;
}

/* --------Categorylist------------*/

.admin-content-right-category_list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.admin-content-right-category_list table tr th,td{
    border: 1px solid #dddddd;
}

table{
    border-collapse: collapse;
}

.donhang{
    float:right;
}

.donhang .btn-donhang{
  display: inline-block;
  background: none;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 14;
  width: 100%;
  padding: 10px 10px 10px 10px; 
  color: #333;
  cursor:pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.donhang .btn-donhang:hover{
  background-color: #000;
  color: #fff;
  transition: all 0.3s;
}

.table-img{
    text-align:center;
}

.nhaphang > .btn-nhaphang {
    display: inline-block;
    background: none;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 14;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 10px;
    height: 30px;
}

.nhaphang > .btn-nhaphang:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s;
}

.box-4 {
    display: block;
    width: 80%;
    height: 150px;
    background-color: orangered;
    margin: 0 5px;
    font-size: 16px;
}

.container {
    display: block;
}

.number {
    color: #fff;
    text-align: center;
    padding-top: 30px;
}


h3 {
    color: #000;
    font-weight: bold;
    display: block;
}

.diengiai {
    text-align: center;
    margin-bottom: 10px;
}

.green {
    background-color: #0cf044;
}

.blue {
    background-color: #308cef;
}

.violet {
    background-color: violet;
}
