@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}
<h2 style="font-weight: bold; text-align: center; margin: 0px;">THỐNG KÊ</h2>
<hr />
<div class="container">
    <div class="box-4">
        <h1 class="number item" style="font-size:30px">@ViewBag.TongDonDatHang</h1>
        <h3 class="diengiai">Tổng Đơn Hàng</h3>
    </div>
    <div class="box-4 blue">
        <h1 class="number" style="font-size:30px">@ViewBag.SoNguoiDangOnline</h1>
        <h3 class="diengiai">Đang Online</h3>
    </div>
    <div class="box-4 violet">
        <h1 class="number" style="font-size:30px">@ViewBag.SoNguoiTruyCap</h1>
        <h3 class="diengiai">Số Người Đã Truy Cập</h3>
    </div>
    <div class="box-4 green">
        <h1 class="number" style="font-size:30px">@ViewBag.TongDoanhThu.ToString("#,##")</h1>
        <h3 class="diengiai">Tổng Doanh Thu(VNĐ)</h3>
    </div>
</div>
