@using DoAnWeb.Models;
@model IEnumerable<SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<h2 style="font-weight: bold; text-align: center; margin: 0px;">DANH SÁCH SẢN PHẨM</h2>
<hr />
@* THE HIEN DU LIEU THONG QUA CONTROL WEBGRID *@
@grid.GetHtml(
    tableStyle: "gridTable table", // the table
    headerStyle: "gridhead", //the header
    footerStyle: "gridFooter", //the phan trang
    rowStyle: "gridRow",       //hang le
    alternatingRowStyle: "gridAltRow", //hang chan
    columns: grid.Columns(
    grid.Column("MaSP", "MSP"),
    grid.Column("TenSP", "Tên SP"),
    grid.Column("DonGia", "Giá"),
    grid.Column("MoTa", "Mô Tả", format: p => Html.Raw(p.MoTa)),
    grid.Column("SoLuongTon", "SLT")/*, format: p => Html.Raw(p.MoTa))*/,
    grid.Column("HinhAnh", "Hình Ảnh", format: p => Html.Raw("<img src=\"../Content/images/" + p.HinhAnh + "\" >")),
    grid.Column(format: p => Html.ActionLink("Chỉnh Sửa", "ChinhSua", new { @id = p.MaSP }))
    ))

<style>
    .gridTable {
        text-align: center;
        border: 1px solid;
        margin-top: 18.5px;
        margin-left: 6.5px;
    }

    .gridhead {
        border: 1px solid #ccc;
        text-align-last: center;
    }

    .gridhead > th{
        border: 1px solid #ccc;
    }
    .gridhead {
        padding: 5px 5px;
    }
    .gridAltRow img,
    .gridRow img {
        height: 150px;
        width: 150px;
    }
    .gridhead >col{
        margin-left:3px;
        margin-right:3px;
    }
    .gridAltRow {
        background-color: #ccc
    }

   
</style>
